body {
  margin: 0;
  font-family: sans-serif;
  background-color: green;
  color: white;
}

.popular-cuisines {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Center the section vertically */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.cuisine {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px; /* Add some margin between items */
  transition: transform 0.3s, box-shadow 0.3s; /* Add transition for smooth hover effect */
}

.cuisine a {
  display: block;
  width: 250px; /* Define width for the circle */
  height: 250px; /* Define height for the circle */
  border-radius: 50%;
  overflow: hidden;
  text-decoration: none; /* Remove underline from links */
  transition: transform 0.3s, box-shadow 0.3s; /* Add transition for smooth hover effect */
}

.cuisine a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%; /* Ensure images are circular */
  transition: transform 0.3s; /* Add transition for smooth hover effect */
}

.cuisine a:hover {
  transform: scale(1.15);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cuisine a:hover img {
  transform: scale(1.1); /* Slightly increase the image size on hover */
}

.cuisine-title {
  font-size: 20px;
  margin-top: 10px; /* Add some space between the image and title */
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
}
