body {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: rgb(254, 252, 233);
}

header {
    background-color: #f5f5f5;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container:hover{
    padding: 20px;
    margin: 3%;
    text-align: center;

}

.content{
    padding: 20px;
    margin: 3%;
    text-align: center;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #f86612;
    font-family: sans-serif;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    font-family: sans-serif;
    color: #555;
    margin-bottom: 20px;
}

.filter {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.filter label {
    margin-right: 10px;
    font-size: 14px;
    color: #555;
}

.filter select {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.restaurant {
    width: 30%;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.restaurant:hover {
    transform: scale(1.10);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.restaurant img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.restaurant-info {
    padding: 15px;
}

.restaurant-info h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.restaurant-info p {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.restaurant-info .rating {
    display: flex;
    align-items: center;
}

.restaurant-info .rating span {
    font-size: 14px;
    color: #555;
    margin-right: 5px;
}

.restaurant-info .rating i {
    color: #229e33;
}

.info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-weight: bold;
    margin-right: 20px;
}

.time {
    margin-right: 20px;
}

.add-to-cart {
    display: flex;
    align-items: center;
    gap: 10px; 
}

#quantity {
    width: 50px;
    padding: 5px;
    text-align: center;
}

.btn {
    padding: 5px 10px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(37, 108, 50);
    background-color: #e0ecf5;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    background-color: #e0ecf5;
}

.btn-primary:hover {
    background-color: #add1f6; 
}

